<mat-card>
  <mat-card-title class="config-title">
    <div class="title-div">
        <div>{{configOptionGroup.name}}</div>
        <div>
          <mat-icon class="icon">{{configOptionGroup.icon}}</mat-icon>
        </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="config-description">
      {{configOptionGroup.description}}
    </div>
  </mat-card-content>
  <mat-card-actions class="config-actions">
    <button (click)="open()" mat-fab color="warn" class="config-group-button">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
