.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-item-icon {
  padding-right: 5px;
}

.option-level-1 {
  font-size: 15px;
}

.option-level-2 {
  font-size: 12px;
  margin-left: 20px;
}
