@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//mat-table
.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.row-selected-row {
  font-weight: bold;
}

//

//snackbar

.success-snackbar {
  background-color: lawngreen;
}

.warning-snackbar {
  background-color: sandybrown;
}

.error-snackbar {
  background-color: darkred;
}
