<!--<p>administration works!</p>-->
<!--<a routerLink="organisations">organisations</a>-->
<mat-card style="height: 95%;">
  <mat-card-title>Administration</mat-card-title>
  <mat-card-content>
    <div class="menu-container">
      <div *ngFor="let option of optionsMock$ | async" style="width: 30%; height: 30%">
        <mat-card>
          <mat-card-title>{{option.name}}</mat-card-title>
          <mat-card-content>
            lorem lorem
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
