<form>
  <mat-form-field appearance="outline">
    <mat-label>Choose request type</mat-label>
    <mat-select [formControl]="leaveRequestTypeControl" [disabled]="advancedFiltersControls.value">
      <mat-option [value]="''">All</mat-option>
      <mat-option *ngFor="let leaveRequestType of leaveRequestTypes$ | async" [value]="leaveRequestType.value">
        {{leaveRequestType.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div>
    <span>Advanced filters
      <mat-slide-toggle
        [formControl]="advancedFiltersControls"
        (change)="advancedFiltersChange($event)">
      </mat-slide-toggle>
    </span>
    <app-leave-request-list-filters
      [advancedFiltersEnabled] = "advancedFiltersControls.value"
      [enabled]="advancedFiltersControls.value"
      [requestTypes]="leaveRequestTypes$ | async"
      (onSearch)="filterLeaveRequests($event)"
    ></app-leave-request-list-filters>
  </div>

</form>

<div #requestList class="request-list">
  <button mat-raised-button (click)="onCreate()">Create</button>
  <app-leave-request-list
    [leaveRequests]="leaveRequests$ | async">
  </app-leave-request-list>
</div>

<div #createRequestContainer class="new-leave-request-container" style="margin-bottom: 15%">
  <div *ngIf="createMode">
    <app-new-leave-request
      [leaveRequestTypes]="leaveRequestTypes$ | async"
      (cancel)="onCreationCancel()"
      (save)="onSuccessfulSave()"
    ></app-new-leave-request>
  </div>
</div>
