.request-list {
  margin-top: 4%;
}

.new-leave-request-container {
  margin-top: 8%;
}

.request-list-actions {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 1%
}

.request-list-actions {
  .mat-raised-button {
    width: 10%;
  }
}
