
<div *ngIf="!!(isAuthenticated$ | async)">
<mat-toolbar style="height: 10vh;">
  <button mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Company Management</span>
  <span class="example-spacer"></span>
  <span *ngIf="employeeBSService.employee$ | async as choosenEmployee">{{choosenEmployee.lastName}} {{choosenEmployee.firstName}}</span>
  <button mat-icon-button *ngIf="employees$ | async as employees" (click)="searchEmployee(employees)" >
     <mat-icon>search</mat-icon>
  </button>
  <span class="employee-logout-spacer"></span>

    <button mat-icon-button (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>

</mat-toolbar>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="side" opened="false" disableClose="true" style="width:10vw">
    <mat-nav-list *ngFor="let menuOption of (menuOptions$ | async)">
      <app-nav-item [option]="menuOption"></app-nav-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
<div *ngIf="!(isAuthenticated$ | async)">
  <mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content class="auth-component">
      <div>
        <app-login-page (afterLogin)="onLogin()"></app-login-page>
      </div>
    </mat-card-content>
  </mat-card>
</div>
