<div *ngIf="enabled" class="leave-request-filters-container">

  <div [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="dateFrom" placeholder="From">
          <input matEndDate formControlName="dateTo" placeholder="To">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-chip-list">
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let type of requestTypes"
            (removed)="remove(type.key)">
            {{type.key}}
          </mat-chip>
          <input
            placeholder="Add request type..."
            formControlName="requestType"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let requestType of filteredRequestTypes" [value]="requestType">
            {{requestType}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

      <div>
    </div>
    <button mat-raised-button (click)="search()">Search</button>
  </div>
</div>
